[submodule "extlib/tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extlib/modular_arithmetic"]
	path = external/modular_arithmetic
	url = https://github.com/hurchalla/modular_arithmetic.git
[submodule "extlib/rk-lce"]
	path = external/rk-lce
	url = https://github.com/nicolaprezza/rk-lce.git
[submodule "extlib/parallel-hashmap"]
	path = external/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "extlib/PGM-index"]
	path = external/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "extlib/ips4o"]
	path = external/ips4o
	url = https://github.com/ips4o/ips4o.git
[submodule "extlib/la_vector"]
	path = external/la_vector
	url = https://github.com/gvinciguerra/la_vector.git
[submodule "extlib/libsais"]
	path = external/libsais
	url = https://github.com/IlyaGrebnov/libsais.git
[submodule "extlib/gsaca-double-sort"]
	path = external/gsaca-double-sort
	url = https://github.com/jonas-ellert/gsaca-double-sort.git
	branch = gsaca-for-lce
[submodule "extlib/malloc_count"]
	path = external/malloc_count
	url = https://github.com/ByteHamster-etc/malloc_count.git
	branch = aligned_alloc
[submodule "extlib/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
